# OS
.DS_Store
Thumbs.db

# Python
backend/.venv/
backend/__pycache__/
backend/*.pyc
backend/calories.db

# Node
frontend/node_modules/
frontend/.next/
frontend/.turbo/
frontend/npm-debug.log*
frontend/yarn-error.log*

# Env
frontend/.env.local
backend/.env
